FOLHA_USERNAME=folha
FOLHA_PASSWORD=password
ESTADAO_USERNAME=estadao
ESTADAO_PASSWORD=password
GLOBO_USERNAME=globo
GLOBO_PASSWORD=password
HEADLESS=False

DATABASE_URL=postgres://postgres:supersecret@localhost:5432/healthcheck

#S3
AWS_ACCESS_KEY_ID=aws_key_id
AWS_SECRET_ACCESS_KEY=aws_secret_key
AWS_S3_REGION_NAME=aws_region_name
AWS_BUCKET_NAME=aws_bucket_name

# OxyLabs
OXYLABS_PROXY_SERVER=http://oxylabs.io
OXYLABS_USERNAME=username
OXYLABS_PASSWORD=password
