[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "==1.43.0"
ipython = "==8.18.1"
scrapy = "==2.11.1"
scrapy-playwright = "==0.0.34"
pytz = "==2024.1"
python-decouple = "==3.8"
loguru = "==0.7.2"

[dev-packages]

[requires]
python_version = "3.12"
